.App {
  text-align: center;
}

.plato {
    background-color:  #696fc4; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-shadow: #0a16be;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

#pleb{
    width: 100%;
    height: 300px;
    padding: 20px 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;


}

#pickApleb{
  z-index: 1;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 15%;
  width: 15%;
}

.App-header {
  background-image: linear-gradient(to right, rgba(17, 123, 245, 0.733) , rgba(222, 231, 179, 0.938));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}
.button{
  background-color: #D4C3EC; 
  color: black;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  margin: 5px 3px;
  transition-duration: 0.5s;
}

.plus{
  background-color: white; 
  color: plum; 
  border: 3px solid plum;
  border-radius: 10px
}

.plus:hover{
  background-color: plum;
  color: white;
}
  .App-link {
  color: #61dafb;
}

input{
  width: 25vw;
  height: 5vh;
  margin-bottom: 10px;
  font-size: 30px;
}